@import url(./normalize.css);
/* @import url(./reset.css); */
@import url(./root.css);

h1 {
  margin: calc(cal(--base-space * 2)) 0;
  background-color: var(--main-green);
  color: var(--text-black-000);
}

h2 {
  background-color: var(--main-blue);
}
